body{
    text-align: center;
}



/* Title Section */
#title .container-fluid{
    padding: 3% 15%;
    text-align: left;
    
}

.title-image {
    padding-top: 5%;
    width: 35%;
    margin-left: auto;
}

.image-box{
    text-align: right;
}

.custom-brand{
    font-size: 3rem;
    font-family: 'Oldenburg', cursive;
    
}


/* Sections */
.color-section {
    background: #191F37;
    color: #BC8811;
}



/* Navbar */

.navbar-brand.custom{
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
    margin-left: auto;
}

.call-button {
    margin: 5% 3% 5% 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.big-heading{
    font-family: 'Oldenburg', cursive;
    font-size: 2rem;
    line-height: 1.5;

}



/* welcome section */
.welcome-section{
    padding-top: 5%;
}

.call-button-text{
    color: white;
}

.call-button-text:hover{
    color: white;
}



/* Features */
.feature-container{
    padding: 20px;
}

.feature-box{
    padding: 2% 1% 2% 1%;
}

.icon{
    color: #d9534f;
    font-size: 3rem;
    margin-bottom: 1rem;
}



/* about bagpiper */
.about-piper-container{
    padding: 20px;
}

.bagpiper-about-image{
    border-radius: 100%;
    margin: 20px;
}

.about-piper-title{
    font-family: 'Oldenburg', cursive;
    text-align: center;
   
    font-weight: bold;
}

.custom-about-piper{
    line-height: 1.5;
    text-align: left;
    padding-bottom: 20px;
}

.line-break{
    background-color: white;
}

.about-piper-text{
    color: #BC8811;
    font-size: 1.5rem;
    text-align: center;
}

.carousel-item{
    font-family: 'Oldenburg', cursive;
    padding: 90px;
    background-color: #2B355F;
}


/* about thom */
.about-thom-container{
    padding: 20px;
}

.about-thom-title{
    font-family: 'Oldenburg', cursive;
    font-weight: bold;

}

.about-thom-image{
    width:40%;
    border-radius: 100%;
    margin: 20px;
}

.about-thom-text{
    line-height: 1.5;
    padding-left: 100px;

}



.youtube-container{
    padding: 20px;
}

.youtube-text{
    font-family: 'Permanent Marker', cursive;
    
}

.youtube-text-container{
    transform: rotate(30deg);
    padding-top: 10%;
}








@media (max-width: 1200px){
    
    .navbar-nav{
        margin-left: auto;
    }

    .image-box{
        text-align: center;
    }

    .call-button{
        
    }

    .big-heading{
        text-align: center;

    }

    #title.container-fluid{
        padding: 3% 15%;
        text-align: center;
    }

    .welcome-section{
        text-align: center;
    }


    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
      }
      .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .youtube-text-container{
        transform: rotate(0);
        
    }
}